@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  user-select: none;
}

:root {
  --greenColor: #46a358;
  --grayColor: #3d3d3d;
  --lightGray: #727272;
}

.link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #3d3d3d;
}

@media (max-width: 1000px) {
  .link {
    font-size: 12px;
  }
}

.ant-carousel .slick-dots li {
  background: #46a358;
}

@media (max-width: 900px) {
  .search {
    display: none;
  }
}
